body {
    color: #494b4c;
    background-color: #f3f5f857
}

a,
a:visited {
    color: #4487bb;
}

.main-container {
    padding-left: 0;
    padding-right: 0;
}

.dataTables_wrapper .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
}

.table th {
    border-top: 0;
}

.table thead th {
    border-bottom: 1px solid #dee2e6;
}

.cards {
    display: none;
}

.landing-text {
    margin: 9em auto 5em;
    background-color: transparent;
}


/*** TDS 23-12-2019 ***/

table th {
    min-width: 80px;
}

ul.dtr-details li {
    display: block;
    border: None;
    padding: 0;
    margin-top: -1px;
}

.dtr-details .dtr-title {
    font-weight: 700;
    border-right: None;
}

ul.dtr-details li span {
    display: inline-block;
    width: 49%;
    padding: 4px 2px 8px;
}

@media only screen and (max-width: 1490px) {
    table tr td {
        position: relative;
    }
    table tr td:first-child::after {
        position: absolute;
        right: 5px;
        top: 19px;
        content: "";
        height: 8px;
        width: 8px;
        border-right: 2px solid #666;
        border-top: 2px solid #666;
        -webkit-transform: rotate(133deg);
        transform: rotate(133deg);
    }
    td.child:first-child::after {
        display: none;
    }
}

@media only screen and (max-width: 910px) {
    table td:first-child {
        white-space: normal !important;
    }
    ul.dtr-details li span {
        font-size: 15px;
    }
}

@media only screen and (max-width: 767px) {
    table.dataTable.nowrap th,
    table.dataTable.nowrap td {
        white-space: normal !important;
    }
    table {
        display: none !important;
    }
    .cards {
        display: block;
    }
    .landing-text {
        margin: 3em auto 4em;
        background-color: transparent;
    }
}


/** Card Styling **/

.card {
    border-color: #e8e8e8;
}

.card .card-header,
.card .card-footer {
    border: none;
}

.card .card-header {
    background: none;
}