name: build

on:
  push:
    branches:
    - master

defaults:
  run:
    shell: bash
jobs:
  trigger-build-site:
      name: Trigger build
      runs-on: ubuntu-24.04
      steps:
        - name: sleep to allow any caches to update
          run: sleep 90s
          shell: bash
        - name: hit endpoint  
          env:
            NETLIFY_BUILD_HOOK: ${{ secrets.BUILDHOOK }}
          run: curl -X POST -d {} $NETLIFY_BUILD_HOOK
